$white-001: #fff;
$grey-001: #cccccc;
$grey-002: #979797;
$grey-003: #616161;
$grey-004: #292929;
$black-001: #000;

$lt-001: #deecf8;
$lt-002: #88c5fa;
$lt-003: #0e8dfc;

$dk-001: #0034a5;
$dk-002: #01367b;

$orange-001: #fff3d8;
$orange-002:  #ff8800;

$purple-001: #ded1fc;
$purple-002: #7700ff;
$purple-003: #400142;

$red-001: #db0079;
$red-002: #c70d00;
$red-003: #860053;

$green-001: #d1e794; 
$green-002: #93c900; 
$green-003: #329e00; 

$yellow-001: #ffdd1d;
$yellow-002: #302500;


$semi-opaque-001: rgba(0,0,0,0.10);
$semi-opaque-002: rgba(0,0,0,0.20);
$semi-opaque-003: rgba(0,0,0,0.30);

$semi-opaque-004: rgba(255, 253, 253, 0.10);
$semi-opaque-005: rgba(255, 255, 255, 0.20);
$semi-opaque-006: rgba(255, 255, 255, 0.30);

$nav-offset: 7rem;



// https://www.w3schools.com/cssref/css3_pr_filter.php
$orange-filter: hue-rotate(80deg) brightness(50%) contrast(10%) sepia(200%) saturate(2476%);
$lt-orange-filter: hue-rotate(80deg) brightness(200%) contrast(0%) sepia(200%) saturate(1500%);
$green-filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);

$sepia-filter:  sepia(100%)  brightness(75%);
$sepia-filter-off: sepia(0%) brightness(100%);

$blur: blur(1px);

$svg-orange: hue-rotate(80deg) brightness(200%) contrast(0%) sepia(200%) saturate(1500%);
$svg-pink: hue-rotate(80deg) brightness(200%) contrast(0%) sepia(200%) saturate(1500%);