/*
    max-width:750px 
    means
    All screens <= 750px

    min-width:100px
    means
    All screens >= 100px

*/






// All Screen Sizes between 0 and 480
@media  only screen and (min-width:0px) and (max-width:480px){    // Mobile Devices
    ///////////////////////////////////////////////////
    /// 
    ///     General All Pages
    /// 
    /// ///////////////////////////////////////////////
    .information-box{
        margin-top: 0.5rem;
    }
    .folio-titles-wrapper h2 {
        font-size: 20pt;
        font-weight: 700;
    }
    .folio-titles-wrapper h4 {
        font-size: 16pt;
        font-weight: 300;
    }

    ///////////////////////////////////////////////////
    /// 
    ///     navbar
    /// 
    /// ///////////////////////////////////////////////


    .logo {
        font-size: 18pt;
    }


    //////////////////////////////////////////////////
    /// 
    ///     Portfolio Page
    /// 
    /// /////////////////////////////////////////////
    .portfolio-mobile{
        width: 18rem;
    }
    .folio-item{
        width: 16rem;
    }

    .portfolio-desktop{
        display:none
    }
    /////////////////////////////////////////////////




    //////////////////////////////////////////////////
    /// 
    /// Employment Page
    /// 
    //////////////////////////////////////////////////
    .web-developer{
        top: 0rem;
        left:1rem;
    }

    
    .artist{
        top: 20rem;
        left:1rem;
    }
    
    .software-eng{
        top: 31rem;
        left:1rem;
    }

    //////////////////////////////////////////////////
    /// 
    /// Education Page
    /// 
    //////////////////////////////////////////////////
    .svg-graphics{
        display:none;
    }

    .cube-stage{
        display: none;
    }

    //////////////////////////////////////////////////
    /// 
    /// Personal Page
    /// 
    //////////////////////////////////////////////////

    .personal-pic{
        margin-right: 1rem;
      }

} 












// All Screen Sizes between 481 and 840
@media only screen and (min-width:481px) and (max-width:849px){    // Tablets Devices
        ///////////////////////////////////////////////////
    /// 
    ///     General All Pages
    /// 
    /// ///////////////////////////////////////////////
    .information-box{
        min-height: 5rem;
        margin-top: 0.5rem;
    }
    .folio-titles-wrapper h2 {
        font-size: 20pt;
        font-weight: 700;
    }
    .folio-titles-wrapper h4 {
        font-size: 16pt;
        font-weight: 300;
    }

    .folio-titles-wrapper{
        overflow: visible;
    }
    .folio-titles-section{
        overflow:visible;

        .contactBtn{
            position: absolute;
            display: inline-block;
    
            top: 0.5rem;
            left: 100%;

        }
    }

    
    ///////////////////////////////////////////////////
    /// 
    ///     navbar
    /// 
    /// ///////////////////////////////////////////////

    .logo {
        font-size: 18pt;
    }

    //////////////////////////////////////////////////
    /// 
    ///     Portfolio Page
    /// 
    /// /////////////////////////////////////////////


    .portfolio-desktop{
        display:none
    }

    //////////////////////////////////////////////////
    /// 
    /// Employment Page
    /// 
    //////////////////////////////////////////////////
    .web-developer{
        top: 0rem;
        left:1rem;
    }

    .lockdown{
        top: 9em;
        left:1rem;
    }
    
    .artist{
        top: 17rem;
        left:1rem;
    }
    
    .software-eng{
        top: 26rem;
        left:1rem;
    }
        //////////////////////////////////////////////////
    /// 
    /// Education Page
    /// 
    //////////////////////////////////////////////////
    .svg-graphics{
        display:none;
    }
    .cube-stage{
        display: none;
    }

    //////////////////////////////////////////////////
    /// 
    /// Personal Page
    /// 
    //////////////////////////////////////////////////

    .personal-pic{
        margin-right: 1rem;
      }

} 





// All Screen Sizes between 850 and 1025
@media only screen and (min-width:850px) and (max-width:1025px){   // Laptops Devices
    .mobile-only-para{
        display:none;
    }
    ///////////////////////////////////////////////////
    /// 
    ///     navbar
    /// 
    /// ///////////////////////////////////////////////

    .logo {
        font-size: 24pt;
    }


    //////////////////////////////////////////////////
    /// 
    ///     Portfolio Page
    /// 
    /// /////////////////////////////////////////////
    .portfolio-mobile{
        top: 0;

        margin-left: 0.2rem;
    }
    .hero-box{
        margin-right:0.2rem; 
    }





    //////////////////////////////////////////////////
    /// 
    /// Employment Page
    /// 
    //////////////////////////////////////////////////
    .webdev-panel{
        left: -30rem;
    }
    .show-webdev-panel{
        transform: translateX(30rem);
        opacity:1;
        z-index:3;
    }
    
    
    .artist-panel{
        right: -30rem;
    }
    .show-artist-panel{
        transform: translateX(-30rem);
        opacity:1;
        z-index:3;
    }
    
    .softeng-panel{
        left: -30rem;
    }
    .show-softeng-panel{
        transform: translateX(30rem);
        opacity:1;
        z-index:3;
    }


    //////////////////////////////////////////////////
    /// 
    /// Education Page
    /// 
    //////////////////////////////////////////////////


 
    .course-panel{
        position: absolute;
        left: 100%;
        top: 5rem;

        width: 23rem;
        height: 70%;
        padding: 1rem;
        margin-left: 1rem;
        opacity: 0;

        z-index: 1;
    }
    .show-course-panel{
        opacity: 1;
        z-index: 2;
        transform: translateY(0);
    }
    .left-svg{
        width: 100%;
        display:none;
    }


} 








// All Screen Sizes between 1026 and 1200
@media only screen and (min-width:1026px) and (max-width:1200px){   // Desktops
    .mobile-only-para{
        display:none;
    }
    ///////////////////////////////////////////////////
    /// 
    ///     navbar
    /// 
    /// ///////////////////////////////////////////////


    //////////////////////////////////////////////////
    /// 
    ///     Portfolio Page
    /// 
    /// /////////////////////////////////////////////


    //////////////////////////////////////////////////
    /// 
    /// Employment Page
    /// 
    //////////////////////////////////////////////////
    .webdev-panel{
        left: -30rem;
    }
    .show-webdev-panel{
        transform: translateX(30rem);
        opacity:1;
        z-index:3;
    }
    
    
    .artist-panel{
        right: -30rem;
    }
    .show-artist-panel{
        transform: translateX(-30rem);
        opacity:1;
        z-index:3;
    }
    
    .softeng-panel{
        left: -30rem;
    }
    .show-softeng-panel{
        transform: translateX(30rem);
        opacity:1;
        z-index:3;
    }

    //////////////////////////////////////////////////
    /// 
    /// Education Page
    /// 
    //////////////////////////////////////////////////



    .course-panel{
        position: absolute;
        left: 100%;
        top: 5rem;

        width: 23rem;
        height: 70%;
        padding: 1rem;
        margin-left: 1rem;
        opacity: 0;

        z-index: 1;
    }
    .show-course-panel{
        opacity: 1;
        z-index: 2;
        transform: translateY(0);
    }

    .left-svg{
        display:none;
    }

} 



















// All Screen Sizes between 1201 and 4801
@media only screen and (min-width:1201px)  and (max-width:4801px){   // Extra Large Desktops and TV's
 
    .mobile-only-para{
        display:none;
    }
    ///////////////////////////////////////////////////
    /// 
    ///     navbar
    /// 
    /// ///////////////////////////////////////////////


    //////////////////////////////////////////////////
    /// 
    ///     Portfolio Page
    /// 
    /// /////////////////////////////////////////////
    .portfolio-mobile{
        margin-left: 1rem;
    }



    //////////////////////////////////////////////////
    /// 
    /// Employment Page
    /// 
    //////////////////////////////////////////////////
    .webdev-panel{
        left: -30rem;
    }
    .show-webdev-panel{
        transform: translateX(30rem);
        opacity:1;
        z-index:3;
    }
    
    
    .artist-panel{
        right: -30rem;
    }
    .show-artist-panel{
        transform: translateX(-30rem);
        opacity:1;
        z-index:3;
    }
    
    .softeng-panel{
        left: -30rem;
    }
    .show-softeng-panel{
        transform: translateX(30rem);
        opacity:1;
        z-index:3;
    }


    //////////////////////////////////////////////////
    /// 
    /// Education Page
    /// 
    //////////////////////////////////////////////////

    .cube-stage{
        margin-left: 5rem;
    }

    .course-panel{
        position: absolute;
        left: 100%;
        top: 5rem;

        width: 23rem;
        height: 70%;
        padding: 1rem;
        margin-left: 1rem;
        opacity: 0;

        z-index: 1;
    }
    .show-course-panel{
        opacity: 1;
        z-index: 2;
        transform: translateY(0);
    }

}
