


{% extends 'scifi_cv/main_layout.html' %}
{% load static %}
{% block title %}
    Jef McDonald Portfolio
{% endblock %}


{% block pagespecific_javascript %}
    <script src="{% static 'scifi_cv/js/education.js' %}?v0.01" type="text/javascript" defer> </script>
{% endblock %}




{% block section %}



<section class='portfolio-wrapper'>
<!---
    <div class='debug-window'>
        <p id="viewsize"></p>
    
        <script>
        var w = window.innerWidth;
        var h = window.innerHeight;
        
        var x = document.getElementById("viewsize");
        x.innerHTML = "Browser width: " + w + ", height: " + h + ".";
        </script>
    
        <div class='error-msg'>
            {{error_message|safe}}
        </div>
    </div>
-->


    <div class="main-left-stage">

        <div class = 'timeline-and-cube-container'>

                <div class='timeline'>

                        <div class='container left-container'>
                            <div class='year-box'>
                                <h2>2023</h2>
                                <span class='year-box-arrow'></span>
                            </div>
                        </div>


                        <div class='container right-container'  data-cubeface='cube-front'   data-coursepanel='yr2023-c1-panel'>
                            <span class='list-bullet'           data-cubeface='cube-front'   data-coursepanel='yr2023-c1-panel'></span>
                            <span class='bullet-center'         data-cubeface='cube-front'   data-coursepanel='yr2023-c1-panel'></span>
                            <div class='text-box'               data-cubeface='cube-front'   data-coursepanel='yr2023-c1-panel'>
                                <p                              data-cubeface='cube-front'   data-coursepanel='yr2023-c1-panel' >Django, Python & Javascript</p>
                                <p                              data-cubeface='cube-front'   data-coursepanel='yr2023-c1-panel' >Harvard</p>
                            </div>
                        </div>


                        <div class='container right-container'  data-cubeface='cube-back'   data-coursepanel='test' >
                            <span class='list-bullet'           data-cubeface='cube-back'   data-coursepanel='test' ></span>
                            <span class='bullet-center'         data-cubeface='cube-back'   data-coursepanel='test' ></span>
                            <div class='text-box'               data-cubeface='cube-back'   data-coursepanel='test' >
                                <p                              data-cubeface='cube-back'   data-coursepanel='test' >Relational Database Design</p>
                                <p                              data-cubeface='cube-back'   data-coursepanel='test' >UNAM </p>
                            </div>
                        </div>

                        <div class='container right-container'  data-cubeface='cube-left'  data-coursepanel='yr2023-c3-panel'>
                            <span class='list-bullet'           data-cubeface='cube-left'  data-coursepanel='yr2023-c3-panel'></span>
                            <span class='bullet-center'         data-cubeface='cube-left'  data-coursepanel='yr2023-c3-panel'></span>
                            <div class='text-box'               data-cubeface='cube-left'  data-coursepanel='yr2023-c3-panel'>
                                <p                              data-cubeface='cube-left'  data-coursepanel='yr2023-c3-panel'>Programming in Python</p>
                                <p                              data-cubeface='cube-left'  data-coursepanel='yr2023-c3-panel'>Harvard</p>
                            </div>
                        </div>

                        <div class='container right-container'  data-cubeface='cube-right'  data-coursepanel='yr2023-c4-panel'>
                            <span class='list-bullet'           data-cubeface='cube-right'  data-coursepanel='yr2023-c4-panel'></span>
                            <span class='bullet-center'         data-cubeface='cube-right'  data-coursepanel='yr2023-c4-panel'></span>
                            <div class='text-box'               data-cubeface='cube-right'  data-coursepanel='yr2023-c4-panel'>
                                <p                              data-cubeface='cube-right'  data-coursepanel='yr2023-c4-panel'>HTML, CSS Javascript</p>
                                <p                              data-cubeface='cube-right'  data-coursepanel='yr2023-c4-panel'>IBM</p>
                            </div>
                        </div>








                        <div class='container left-container'>
                            <div class='year-box'>
                                <h2 >2012</h2>
                                <span class='year-box-arrow'></span>
                            </div>
                        </div>

                        <div class='container right-container'  data-cubeface='cube-top'    data-coursepanel='yr2012-c1-panel'>
                            <span class='list-bullet'           data-cubeface='cube-top'    data-coursepanel='yr2012-c1-panel'></span>
                            <span class='bullet-center'         data-cubeface='cube-top'    data-coursepanel='yr2012-c1-panel'></span>
                            <div class='text-box'               data-cubeface='cube-top'    data-coursepanel='yr2012-c1-panel'>
                                <p                              data-cubeface='cube-top'    data-coursepanel='yr2012-c1-panel'>
                                    <h3                         data-cubeface='cube-top'    data-coursepanel='yr2012-c1-panel'>HND Graphic Art</h3></p>
                                <p                              data-cubeface='cube-top'    data-coursepanel='yr2012-c1-panel'>Glasgow College</p>
                            </div>
                        </div>






                        <div class='container left-container'>
                            <div class='year-box'>
                                <h2>2002</h2>
                                <span class='year-box-arrow'></span>
                            </div>
                        </div>

                        <div class='container right-container'  data-cubeface='cube-bottom'  data-coursepanel='yr2002-c1-panel'>
                            <span class='list-bullet'           data-cubeface='cube-bottom'  data-coursepanel='yr2002-c1-panel' ></span>
                            <span class='bullet-center'         data-cubeface='cube-bottom'  data-coursepanel='yr2002-c1-panel'></span>
                            <div class='text-box'               data-cubeface='cube-bottom'  data-coursepanel='yr2002-c1-panel'>
                                <p                              data-cubeface='cube-bottom'  data-coursepanel='yr2002-c1-panel'> 
                                    <h3                         data-cubeface='cube-bottom'  data-coursepanel='yr2002-c1-panel'>BEng Software Engineering</h3></p>
                                <p                              data-cubeface='cube-bottom'  data-coursepanel='yr2002-c1-panel'>Edinburgh Napier University</p>
                            </div>
                        </div>


                </div> <!-- END timeline -->





                <!-- Cube -->

                <div class='cube-stage'><!--This is the stage and provides a stable bakcground that doesnt move-->
                    <div class='cube-field'>
                        <div class='cube' data-xpos='0' data-ypos='0' data-zpos='0'>
                            <div class=' cube-face front-face'>
                                {% include 'scifi_cv/education/course1.html' %}
                            </div>
                            <div class=' cube-face back-face'>
                                {% include 'scifi_cv/education/course2.html' %}
                            </div>
                            <div class=' cube-face left-face'>
                                {% include 'scifi_cv/education/course3.html' %}
                            </div>
                            <div class=' cube-face right-face'>
                                {% include 'scifi_cv/education/course4.html' %}
                            </div>
                            <div class=' cube-face top-face'>
                                {% include 'scifi_cv/education/course5.html' %}
                            </div>
                            <div class=' cube-face bottom-face'>
                                {% include 'scifi_cv/education/course6.html' %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end cube-->










                <!-- Hidden Panels WIth Course Summary's-->
                <!--####################################-->

                <div class='course-panel yr2023-c1-panel'>
                    <div class='top-margin course-panel-closebtn'>
                        <img class='close-btn ' src="{% static 'scifi_cv/img/general/close.svg'  %}" alt='close btn' >
                    </div>
                    <div class='course-details'>
                        <h2>Web Programming with Django, Python and JavaScript</h2>
                        <h3>Harvard</h3>
        
                        <p>
                            Course gave an in depth explanation of how to use these programming languages and frameworks with projects 
                            creating Websites in Django Python and Javascript to better understand and apply the course material.
                            The course also covered building websites with 
                            MySql and SQLite Database integration and e-commerce using Django to handle backend requests to the database.
                        </p>
                    </div>
                </div>



                <div class='course-panel test'>
                    <div class='top-margin course-panel-closebtn'>
                        <img class='close-btn' src="{% static 'scifi_cv/img/general/close.svg'  %}" alt='close btn' >
                    </div>
                    <div class='course-details'>
                        <h2>Relational Database Design</h2>
                        <h3>University De Mexico UNAM</h3>
        
                        <p>
                            Course covered the Distributed Systems, OLAP vs OLTP database systems, ATOM, ACID. Conceptual Design, ERD 
                            Logical Design, Normal Forms, Physical Design and the full Design
                            and implementaion of a database using MySQL and MySQL Workbench
                        </p>
                    </div>
                </div>

                <div class='course-panel yr2023-c3-panel'>
                    <div class='top-margin course-panel-closebtn'>
                        <img class='close-btn' src="{% static 'scifi_cv/img/general/close.svg'  %}" alt='close btn' >
                    </div>
                    <div class='course-details'>
                        <h2>Programming in Python</h2>
                        <h3>Harvard</h3>
        
                        <p>
                            The course covered all the major aspects of the Python3 language with extensive examples and exercises 
                            to practice the skills and apply the knowledge gained
                        </p>
                        <p>
                            In addition to this I also learned how to install and setup Python development environment understand
                            Ubuntu Linux and how to create 
                            virtual python environments for developing Apps.
                        </p>
                    </div>
                </div>

                <div class='course-panel yr2023-c4-panel'>
                    <div class='top-margin course-panel-closebtn'>
                        <img class='close-btn' src="{% static 'scifi_cv/img/general/close.svg'  %}" alt='close btn' >
                    </div>
                    <div class='course-details'>
                        <h2>Web Development with HTML5, CSS3, and JavaScript</h2>
                        <h3>IBM</h3>
        
                        <p>
                            Course covered all the main features of the core languages central
                            to developing websites and gave instruction and 
                            examples of how to develop web applications using them. 
                        </p>
                    </div>
                </div>

                <div class='course-panel yr2012-c1-panel'>
                    <div class='top-margin course-panel-closebtn'>
                        <img class='close-btn' src="{% static 'scifi_cv/img/general/close.svg'  %}" alt='close btn' >
                    </div>
                    <div class='course-details'>
                        <h2>HND Graphic Art</h2>
                        <h3>Glasgow College</h3>
        
                        <p>
                            This was a two year HND in art and graphic art which I completed while also selling my work 
                            at Art Fairs and Festivals. The course covered a variety of projects and themes and encouraged practical
                            skills in drawing, painting, and screen printing. The course also covered graphic design using 
                            Photoshop, Illustrator and video production using Premier Pro
                        </p>
                    </div>
                </div>

                <div class='course-panel yr2002-c1-panel'>
                    <div class='top-margin course-panel-closebtn'>
                        <img class='close-btn' src="{% static 'scifi_cv/img/general/close.svg'  %}" alt='close btn' >
                    </div>
                    <div class='course-details'>
                        <h2>BEng Software Engineering</h2>
                        <h3>Edinburgh Napier University</h3>
        
                        <p>
                            I graduated with a four year degree in Software Engineering which covered all aspects 
                            of the Software Life Cycle. Mathematics & Logic, Software Design & Development. 
                            Functional and Object Oriented programming primarily in C and C++. , Distributed Systems, 
                            Relational Database Systems, Oracle SQL, Networks and Telecommunications and Software Verification 
                            and Validation
                        </p>
                    </div>
                </div>

                <!-- END Hidden Course SlidePanels-->






























        </div> <!-- END 'timeline-and-cube-container' -->
    </div> <!-- END main-left-stage-->

 
    {% include 'scifi_cv/contact-form.html' %}


    <div class='mobile-only-para'>
        <div id="message-title">Skills</div>
        <div class="msg-para">
            I am skilled in Django, Python, Javascript, CSS/SASS and MySql and I can take a project from requirements specification, to finished site. I am skilled in back-end development, building an API, designing the Front end and delivering a completed web application. Iam also able to create the Graphic design and all images and artwork for the site, saving you money. Contact me for any kind of project big or small.
        </div>
    </div>
    
    <div class='information-box'>
        <div class="folio-titles-wrapper">
            <section class='folio-titles-section'>
                <h2 class='{{animation}}'>Education: </h2>
                <h4 class='animate'>{{sitename}}</h4>

                <div class="btn contactBtn {{animation}}" data-contact-btn-click='true'>
                    <div class="btn-hover-state" data-contact-btn-click='true'></div>
                    <span data-contact-btn-click='true'>Contact</span>

                </div>
 
            <section>
        </div>
        <div class='message-of-the-day portfolio-desktop'>
            <div id="message-title">Skills</div>
            <div class="msg-para">
                I am skilled in Django, Python, Javascript, CSS/SASS and MySql and I can take a project from requirements specification, to finished site. I am skilled in back-end development, building an API, designing the Front end and delivering a completed web application. I am also able to create the Graphic design and all images and artwork for the site, saving you money. Contact me for any kind of project big or small.
            </div>
        </div>
    </div>


<!--
    {% include 'scifi_cv/footer.html' %}
-->


</section>




{% endblock %}