{% load static %}


<div class='footer '>

    <div class='icons'>
        <a href='https://www.substack.com'>
            <img src="{% static 'scifi_cv/img/social-media/white/substack.svg' %}">
        </a>
    </div>
    <div class='icons'>
        <a href='https://www.minds.com'>
            <img src="{% static 'scifi_cv/img/social-media/white/minds.svg' %}">
        </a>
    </div>

    <div class='icons'>
        <a href='https://www.twitter.com'>
            <img src="{% static 'scifi_cv/img/social-media/white/twitter.svg' %}">
        </a>
    </div>
    <div class='icons'>
        <a href='https://www.telegram.com'>
            <img src="{% static 'scifi_cv/img/social-media/white/telegram.svg' %}">
        </a>
    </div>
    <div class='icons'>
        <a href='https://www.facebook.com'>
            <img src="{% static 'scifi_cv/img/social-media/white/fb.svg' %}">
        </a>
    </div>
    <div class='icons'>
        <a href='https://www.gab.com'>
            <img src="{% static 'scifi_cv/img/social-media/white/gab.svg' %}">
        </a>
    </div>

</div>
