


<div class="logo">
        Jef McDonald Ralston
</div>

<nav class="desktop-main-menu">
    <ul>
        <li><a href="{% url 'scifi_cv:portfolio' %}">Portfolio</a></li>      
        <li><a href="{% url 'scifi_cv:employment' %}">Employment</a></li>
        <li><a href="{% url 'scifi_cv:education' %}">Education</a></li>
        <li><a href="{% url 'scifi_cv:personal' %}">Personal</a></li>
        <!--
        <li><a href="{% url 'scifi_cv:download' %}">Download</a></li>
        -->
    </ul>
</nav>



