{% load static %}
<div class='top-margin'>
    <img class='close-btn' src="{% static 'scifi_cv/img/general/close.svg'  %}" alt='close btn' >
</div>

<div class='foliopanel-contents'>
	<h2>Artillery Voo Comix</h2>

	<div class="folio-summary-mainimage">
		<a href="https://www.artillery-voo.com">
			<img src="{% static 'scifi_cv/img/portfolio/artillery.jpg' %}" alt="artillery voo website">
		</a>
	</div>

	<div>
		<b>URL: </b><a href="https://www.artillery-voo.com">www.artillery-voo.com</a>
	</div>
	
	<div>
		<b>Github: </b><a href="https://github.com/JefMcD/artillery-voo">www.github.com/JefMcD/artillery-voo</a>
	</div>
	
	<div>
		<h2>Summary :</h2>
		Satirical comics and nervous laughter from Artillery Voo. 
		Front end done with Html, CSS and Javascript with server requests and e-commerce implemented using PHP and MySQL.
		
	</div>
	
	<div>
		<h3>Tech Used :html:css:js:php:MySQL</h3>
		<div class='tech-used-box'>
			<img src="../static/scifi_cv/img/HTML-white.svg">
			<img src="../static/scifi_cv/img/css-white.svg">
			<img src="../static/scifi_cv/img/JS-white.svg">
			<img src="../static/scifi_cv/img/php-white.svg">
			<img src="../static/scifi_cv/img/MySQL-white.svg">
		</div>
	</div>
	
	<div>
		<h3>Graphics Apps Used :</h3>
		Krita, Gimp, Inkspace, Dude who draws stuff
	</div>
</div>




