{% load static %}
<div class='top-margin'>
    <img class='close-btn' src="{% static 'scifi_cv/img/general/close.svg'  %}" alt='close btn' >
</div>

<div class='foliopanel-contents'>
	<h2>Hungry Hippo</h2>

	<div class="folio-summary-mainimage">
		<a href="https://rumble.com/v430032-hungry-hippo-app.html">
			<img src="{% static 'scifi_cv/img/portfolio/hh.jpg' %}" alt="Hungry Hippo website">
		</a>
	</div>

	<div>
		<b>Website Demo: </b><a href="https://rumble.com/v430032-hungry-hippo-app.html">Hungry Hippo</a>
	</div>
	
	<div>
		<b>Guthub: </b><a href="https://github.com/JefMcD/hungry_hippo">Git Hub</a>
	</div>
	
	<div>
		<h2>Summary :</h2>
        <p>Hungry Hippo Image Batch Processor written in Django, Python and MySQL for the backend with a Javascript client making asynchronous fetches through the API to provide dynamic contents. The front end User Interface is written using CSS and SASS.</p>

        <p>The App allows a folder of images to be uploaded for them to be cropped, rotated, resized and tagged in a way thats simple and intuitive. This is a task often carried out to produce content for online shops, websites.</p>

    </div>
	
	<div>
		<h3>Tech Used: </h3>
		<div>Django,Python,CSS/SASS,JS,MySQL</div>
		<div class='tech-used-box'>
			<img src="../static/scifi_cv/img/django-white.svg">
			<img src="../static/scifi_cv/img/python-white.svg">
			<img src="../static/scifi_cv/img/css-white.svg">
			<img src="../static/scifi_cv/img/SCSS-white.svg">
			<img src="../static/scifi_cv/img/JS-white.svg">
			<img src="../static/scifi_cv/img/MySQL-white.svg">
		</div>
	</div>
	
	<div>
		<h3>Graphics Apps Used :</h3>
		Krita, Gimp, Inkspace, Blender
	</div>
</div>