{% load static %}


<div class='top-margin'>
    <img class='close-btn' src="{% static 'scifi_cv/img/general/close.svg'  %}" alt='close btn' >
</div>

<div class='foliopanel-contents'>

	<h2>Jef McD resumee</h2>

	<div class="folio-summary-mainimage">
		<a href="#">
			<img src="{% static 'scifi_cv/img/portfolio/resume.jpg' %}" alt="artillery voo website">
		</a>
	</div>
		

	<div>
		<b>URL: </b><a href="https://resumee.artillery-voo.com">You Are Here</a>
	</div>


	<div>
		<b>Github: </b><a href="https://github.com/JefMcD/resume">www.github.com/jefmcd/resume</a>
	</div>


	<div>
		<h2>Summary :</h2>
		Coded using Django for dynamic page generation, with Python dealing with back-end server requests and SCSS and Javascript for the front-end design. Fully responsive design and easy to re-theme. 
	</div>

	<div>
		<h3>Tech Used: </h3>
		<div>Django,Python,CSS/SASS,JS,MySQL</div>
		<div class='tech-used-box'>
			<img src="../static/scifi_cv/img/django-white.svg">
			<img src="../static/scifi_cv/img/python-white.svg">
			<img src="../static/scifi_cv/img/css-white.svg">
			<img src="../static/scifi_cv/img/SCSS-white.svg">
			<img src="../static/scifi_cv/img/JS-white.svg">
			<img src="../static/scifi_cv/img/MySQL-white.svg">
		</div>
	</div>

	<div>
		<h3>Graphics Apps Used :</h3>
		Krita, Gimp, Inkspace,
	</div>

</div>
