{% load static %}
<div class='top-margin'>
    <img class='close-btn' src="{% static 'scifi_cv/img/general/close.svg'  %}" alt='close btn' >
</div>

<div class='foliopanel-contents'>
	<h2>JMC Mining Corp Mail Client</h2>

	<div class="folio-summary-mainimage">
		<a href="https://rumble.com/v4ebg3l-mail-client.html">
			<img src="{% static 'scifi_cv/img/portfolio/jmc_mail.jpg' %}" alt="jmc mail client">
		</a>
	</div>

	<div>
		<b>URL: </b><a href="https://rumble.com/v4ebg3l-mail-client.html">JMC Mining Corp, Mail Client</a>
	</div>
	
	<div>
		<a href="https://github.com/JefMcD/project3-mail">Git-hub</a>
	</div>
	
	<div>
		<h2>Summary :</h2>
        <p>
		This is a Single Page Application that dynamically rewrites the web page with new data that it fetches from the web server, instead of having to load entire new pages. It’s written using a Django/Python backend server on a SQLite database with an API which allows the front end Javascript client to send and view emails between users of the App.
        </p>
        <p>
            The Project requirements are modelled and designed using Yourdon-DeMarco SSADM and the data flow diagrams and flow charts were created using DrawIO. Client Functionality is implemented using raw javascript with the user interface written using CSS and SASS
        </p>	
    </div>
	
	<div>
		<h3>Tech Used: </h3>
		<div>Django,Python,CSS/SASS,JS,MySQL</div>
		<div class='tech-used-box'>
			<img src="../static/scifi_cv/img/django-white.svg">
			<img src="../static/scifi_cv/img/python-white.svg">
			<img src="../static/scifi_cv/img/css-white.svg">
			<img src="../static/scifi_cv/img/SCSS-white.svg">
			<img src="../static/scifi_cv/img/JS-white.svg">
			<img src="../static/scifi_cv/img/MySQL-white.svg">
		</div>
	</div>
	
	<div>
		<h3>Graphics Apps Used :</h3>
		Krita, Gimp, Inkspace, Dude who draws stuff
	</div>
</div>