{% load static %}
<div class='top-margin'>
    <img class='close-btn' src="{% static 'scifi_cv/img/general/close.svg'  %}" alt='close btn' >
</div>

<div class='foliopanel-contents'>
	<h2>Lime Auctions</h2>

	<div class="folio-summary-mainimage">
		<a href="https://rumble.com/v388v5s-cs50-project-2-commerce.html">
			<img src="{% static 'scifi_cv/img/portfolio/lime_auctions.jpg' %}" alt="lime auctions website">
		</a>
	</div>

	<div>
		<b>URL: </b><a href="https://rumble.com/v388v5s-cs50-project-2-commerce.html">Lime Auction Demo</a>
	</div>
	
	<div>
		<a href="https://github.com/JefMcD/project2">Git-Hub</a>
	</div>
	
	<div>
		<h2>Summary :</h2>
		Lime Auctions. An e-comemrce site that allows users to create an account list items they wish to sell and bid on items they wish to purchase. Front end developed using CSS/SASS, Client side developed using Javascript and backend developed using Django amd Python with a MySQL database.
	</div>
	
	<div>
		<h3>Tech Used: </h3>
		<div>Django,Python,CSS/SASS,JS,MySQL</div>
		<div class='tech-used-box'>
			<img src="../static/scifi_cv/img/django-white.svg">
			<img src="../static/scifi_cv/img/python-white.svg">
			<img src="../static/scifi_cv/img/css-white.svg">
			<img src="../static/scifi_cv/img/SCSS-white.svg">
			<img src="../static/scifi_cv/img/JS-white.svg">
			<img src="../static/scifi_cv/img/MySQL-white.svg">
		</div>
	</div>
	
	<div>
		<h3>Graphics Apps Used :</h3>
		Krita, Gimp, Inkspace
	</div>
</div>