{% load static %}
<div class='top-margin'>
    <img class='close-btn' src="{% static 'scifi_cv/img/general/close.svg'  %}" alt='close btn' >
</div>

<div class='foliopanel-contents'>
	<h2>artBeat Social Network</h2>

	<div class="folio-summary-mainimage">
		<a href="https://rumble.com/v4ebgub-social-media-network-app.html">
			<img src="{% static 'scifi_cv/img/portfolio/network.jpg' %}" alt="social network website">
		</a>
	</div>

	<div>
		<b>URL: </b><a href="https://rumble.com/v4ebgub-social-media-network-app.html">artBeat Video Demo</a>
	</div>
	
	<div>
		<a href="https://github.com/JefMcD/project4-network">Git Hub</a>
	</div>
	
	<div>
		<h2>Summary :</h2>
        <p>
            This project is a Social Network App I developed using CSS & SASS for the front end, with a JavaScript Client and a Python/Django back-end server and API. Its designed using a MySQL Database on Ubuntu Linux .
        </p>
        <br>
        </p>
            Developed using VSCode, Graphics created using Inkspace and GIMP, Design Documentation produced using MySQL Workbench, and DrawIO and presentation made using Blender, Reaper and Libre Office.
        </p>
        <br>
    </div>
	
	<div>
		<h3>Tech Used: </h3>
		<div>Django,Python,CSS/SASS,JS,MySQL</div>
		<div class='tech-used-box'>
			<img src="../static/scifi_cv/img/django-white.svg">
			<img src="../static/scifi_cv/img/python-white.svg">
			<img src="../static/scifi_cv/img/css-white.svg">
			<img src="../static/scifi_cv/img/SCSS-white.svg">
			<img src="../static/scifi_cv/img/JS-white.svg">
			<img src="../static/scifi_cv/img/MySQL-white.svg">
		</div>
	</div>
	
	<div>
		<h3>Graphics Apps Used :</h3>
		Krita, Gimp, Inkspace
	</div>
</div>