{% load static %}


<div class='top-margin'>
    <img class='close-btn' src="{% static 'scifi_cv/img/general/close.svg'  %}" alt='close btn' >
</div>

<div class='foliopanel-contents'>

	<h2>Comic Wiki</h2>

	<div class="folio-summary-mainimage">
		<a href="#">
			<img src="{% static 'scifi_cv/img/portfolio/wiki.jpg' %}">
		</a>
	</div>


	<div>
		<b>Github: </b><a href="https://github.com/JefMcD/cs50-project-1">Comix Wiki</a>
	</div>


	<div>
		<h2>Summary :</h2>
		A Wiki App for comic fans that allows users to Search, Create and Edit encyclopedia entries. Entries are created in Markdown then converted to HTML and then stored in the app and searcheable. Project makes extensive use of Regex expressions for converting markdown into html and for performing searches.
	</div>


	<div>
		<h3>Tech: Django:Python:html:css</h3>
		<div class='tech-used-box'>
			<img src="{% static 'scifi_cv/img/django-white.svg' %}">
			<img src="{% static 'scifi_cv/img/python-white.svg' %}">
			<img src="{% static 'scifi_cv/img/HTML-white.svg' %}">
			<img src="{% static 'scifi_cv/img/css-white.svg' %}">
		</div>
	</div>

	<div>
		<h3>Graphics Apps Used :</h3>
		Krita, Gimp, Inkspace,
	</div>

</div>


