


{% load static%}

<div class='coursecube-panel'>
    <div class='course-details'>
        <h2>Web Programming with Django, Python and JavaScript</h2>
        <h3>Harvard - 2023</h3>
        <p>
            The course covered developing dynamic web applications using Python & Javascript. Integral to this was using Django's powerful backend framework to make Database queries and serve content on demand to the Javascript client. The course covered creating Applications using relational databases (sqlite & MySQL) and implementing and using API's to serve client requests. To do this we were required to create websites for e-commerce, a social network, dynamic single page applications and mobile responsive apps.
        </p>

    </div>
</div>