


{% load static%}




<div class='coursecube-panel'>
    <div class='course-details'>
        <h2>Programming in Python</h2>
        <h3>Harvard</h3>

        <p>
            The course covered all the major aspects of the Python3 language with extensive examples and exercises 
            to practice the skills and apply the knowledge gained
        </p>
        <p>
            In addition to this I also learned how to install and setup Python development environment understand
             Ubuntu Linux and how to create 
            virtual python environments for developing Apps.
        </p>
    </div>
</div>