


{% load static%}


<div class='coursecube-panel'>
    <div class='course-details'>
        <h2>HND Graphic Art</h2>
        <h3>Glasgow College</h3>

        <p>
            This was a two year HND in art and graphic art which I completed while ALSO selling my work 
            at Art Fairs and Festivals. The course covered a variety of projects and themes and encouraged practical
            skills in drawing, painting, and screen printing. The course also covered graphic design using 
            Photoshop, Illustrator and video production using Premier Pro
        </p>
    </div>
</div>