


{% load static%}

<div class='course-panel yr2023-c2-panel'>
    <div class='course-top-margin course-panel-closebtn'>
        <img class='close-btn' src="{% static 'scifi_cv/img/general/close.svg'  %}" alt='close btn' > Back
    </div>

</div>


<div class='coursecube-panel'>
        <div class='course-details'>
            <h2>Relational Database Design</h2>
            <h3>University De Mexico UNAM</h3>
    
            <p>
                Course covered the Distributed Systems, OLAP vs OLTP database systems, ATOM, ACID. Conceptual Design, ERD 
                Logical Design, Normal Forms, Physical Design and the full Design
                and implementaion of a database using MySQL and MySQL Workbench
            </p>
        </div>
</div>