$white-001: #fff;
$grey-001: #cccccc;
$grey-002: #979797;
$grey-003: #616161;
$grey-004: #292929;
$black-001: #000;

$lt-green-001:  rgb(195, 231, 198);
$lt-green-002:  rgb(120, 199, 125);;
$lt-green-003:  rgb(0, 128, 11);

$dk-green-001:  rgb(0, 82, 5);
$dk-green-002:  rgb(29, 61, 31);

$orange-001: #fff3d8;
$orange-002:  #ff8800;

$purple-001: purple;
$purple-002: rgb(75, 0, 90);

$yellow-001:  rgb(238, 194, 0);


