
{% load static %}
<div class='tabrow'>
    <div class='tablinks  active-tab' data-tablinks='true' data-jobtab='art-job-summary'>Summary</div>
    <div class='tablinks'             data-tablinks='true' data-jobtab='art1'>art 1</div>
    <div class='tablinks'             data-tablinks='true' data-jobtab='art2'>art2</div>
    <div class='tablinks'             data-tablinks='true' data-jobtab='art3'>art 3</div>
</div>

<div id='art-job-summary' class='tabcontent'>
    <h2>Graphic Artist 2010 - 2022</h2>

    <div>
        In 2010 I took a break from work and signed up for a Diploma in Graphic Art which I completed in 2012. At the same time I started selling my paintings and drawings at comic cons and art festivals.
    </div>
    <div>
        Once I had finished the Diploma, I started a small business selling my work at these events, exhibitions and in galleries.It was here that I was also obtaining commissions from people.
        Exhibiting at festivals and art fairs providied my primary source of income 

    </div>

    <div>
        My day-to-day tasks involved organising events and exhibitions, book-keeping and keeping customers and clients happy on top of the actual work of producing art that I could sell and exhibit.
        During this time I had my work exhibited at the prestigious Glasgow Print Studio, Glasgow Art Club, and in venues and exhibitions around the city, and published in several independent magazines. However, In 2020 this way of earning took a severe downturn and eventually I had to conclude it was time to call it a day and move on.
    </div>
        

    <div>
        Examples of some of the work I made during these years can be seen in the tabs.
    </div>
    <br>




</div> 

<div id='art1' class='tabcontent'>
    <h2>Wots On Yer Mind?!. 2019</h2>
    <img src="{% static 'scifi_cv/img/employment/tabs/cthulu-girl1000.jpg' %}">
    <div>
        <h3>Indian Ink/Digital Color 29cm x 42cm</h3>
        
    </div>
</div>

<div id='art2' class='tabcontent'>
    <h2>If Then Maybe. 2018 </h2> 
    <img src="{% static 'scifi_cv/img/employment/tabs/frida1000.jpg' %}">
    <h3>Indian Ink/Watercolor 60cm x 60cm</h3>
</div>

<div id='art3' class='tabcontent'>
    <h2>Infinity-Eternity. 2019</h2>
    <img src="{% static 'scifi_cv/img/employment/tabs/infinity-eternity1000.jpg' %}">
    <h3>Indian Ink. 60cm x 60cm</h3>
</div>

