
{% load static %}
<div class='tabrow'>
    <div class='tablinks se-tabs active-tab' data-tablinks='true' data-jobtab='se-job-summary'>Software Engineer</div>
    <div class='tablinks se-tabs'            data-tablinks='true' data-jobtab='se-tab1'>IT Contractor</div>

</div>

<div id='se-job-summary' class='tabcontent'>
    <h1>Software Engineer 2002 - 2010</h1>

    <div> 
        <h3>Software Test Engineer</h3>
        <h4>Edinburgh, Scotland. 2004 -2006</h4>
        <div>
            Still with GEC Marconi, I later became a member of the test team where I was involved in system integration testing and unit testing. This job entailed analysing the requirements and design documentation then writing test scripts and test cases to verify the software under test. This was done by manual testing and using automatic test tools, then reporting faults. When faults were fixed I restested the fix and carrying out regression testing. Other duties included writing utility software in C++ under Unix reviewing documentation and attending test team meetings. 
        </div>
    </div> 
    <br>
    <div>
        <h3>Junior Software Engineer</h3>
        <h4>Edinburgh, Scotland. 2002 -2004</h4>
       
        <div>
            After graduation I initially worked for GEC Marconi as a Junior Software Engineer working in Development and Test Departments.The job consisted of supporting the development team with all aspects of software design and development. This involved
            attending design and development meetings. Writing and maintaining code written in C++ under Unix and Implementing bug fixes assigned to me by the development team. I also was required to write utility software for the test department, creating test stubs, writing and executing test cases to validate software modules.
        </div>
    </div>

</div>




<div id='se-tab1' class='tabcontent'>


    <div>
        <h3>System Tester</h3>
        <h4>EDS, Sunderland, England 2008-2010</h4>
        <div>
            Working on a Govt project developing software for handling benefit claims. 
            Analysing design documentation to develop test cases, preparing test data for the test environment, executing tests and reporting faults, carrying out regression testing and retesting big fixes. The testing and verification covered Positive, Negative and Regression testing. I was also requiredto  
            attending test team meetings and report testing progress to my manager reviewing documentation and liasing with developers when necessary. 
        </div>
    </div>


    <div>
        <h3>Integration Tester</h3>
        <h4>National Grid, Wokingham, England 2007-2008</h4>
        <div>
            Carrying out system integration testing and unit testing on the Grid Electricity Management System. This involved, writing test cases following the requirements specification and the design documentation and carrying out tests to verify functionality, reporting bugs and performing retest and regression tests. The testing covered, Positive, Negative and Regression testing. Other aspects of the job involved using SQL to populate the database with test data and to query the database to ensure data was as expected during test.
        </div>
    </div>


    <div>
        <h3>System Functional Tester</h3>
        <h4>British Telecom, Bracknell, England 2006-2007</h4>
        <div>
            Black box testing, working on the BT directory services software writing test cases by analising the requirements specification and the design documentation then executing them to test system functionality and raising fault feports. The testing included Positive and Negative testing, retesting bug fixes and Regression testing. 
        </div>
    </div>
</div>




