
{% load static %}


<div class='tabrow'>
    <div class='tablinks active-tab' data-tablinks='true' data-jobtab='wd-frontend'>Frontend</div>
    <div class='tablinks ' data-tablinks='true' data-jobtab='wd-backend'>Backend</div>
    <div class='tablinks ' data-tablinks='true' data-jobtab='wd-graphics'>Graphics</div>
    <div class='tablinks ' data-tablinks='true' data-jobtab='wd-admin'>Sys Admin</div>
    <div class='tablinks ' data-tablinks='true' data-jobtab='wd-skillset'>Skillset</div>
</div>

<div id='wd-frontend' class='tabcontent'>
    <h1>Web Development</h1>
    <h2>2022 - Present</h2>
    <div>
        Since the end of 2022, I have been honing my skills in Web development. It is something I was already reasonably familiar with as over the last ten years I have been building and maintaining my website for my art and print shop andhave been using Linux Ubuntu Full-time for everything for many years, so I had a good understanding of web development technologies.
    </div>
    <div>
        I am mainly focused on web development using CSS/ SASS and Javascript for the front end and  Django, Python, and MySQL on the Server side. To manage my projects I use git and Github and VSCode as my Code editor
    </div>
    <div>
        Since starting I have created Apps for a Social Network, an email client, an aution site and completed courses in web development , and relational database design with Harvard, IBM and UNAM
    </div>
    
</div> 


<div id='wd-backend' class='tabcontent'>
    <h2>MySQL</h2>
    <h3>Relational Database Design</h3>
    <div>
        I have been building web apps that connect to a <b>MySQL database</b> to process data using <b>Django, Python</b> and also using <b>PHP</b>.  In doing this I understand how to how install and configure MySQL server on Linux and how to run <b>SQL</b> commands either from the command line or by connecting an application to the database and retreiving and updating data from schema. I also understand how to design a relational database <b>ERD</b> from the requirements spec and how to create the <b>logical model</b> in MySQL Workbench and then writing SQL Scripts that create and populate the physical database. I also understand how to normalise a database schema into <b>3NF</b> to maximise performance, reduce redundancy and improve data security and integrity.
    </div>
    <div>
        In the past I have also worked on large scale software engineering projects where I was runnning SQL commands from the command line and running scripts on <b>Oracle</b> database systems which is very similar to MySQL
    </div>
    <br>
    <h2>API</h2>
    <h3>Application Programmer Interfaces</h3>
    <div>
        Currently I am developing apps which connect to <b>API</b>'s for Spotify, Space-X and Twitter which will allow users to access data and connect to services from these platforms. 
    </div>

</div> 





<div id='wd-graphics' class='tabcontent'>
    <h2>Linux Graphics Packages</h2>
    <h3>GIMP, Krita and Inkscape</h3>
    <div>
        I have a very good knowledge of <b>GIMP</b> which I have been using daily for about 3 years. I use it as a general image editor for everything but particularly for images that require text which it handles very well, and also for creating monchrome raster images that can then be exported to Inkscape for conversion to svg graphics.
    </div>
    <div>
        I use <b>Krita</b> for more artistic purposes as it has a superb range of brushes and effects which you can use for painting and drawing. I tend to use it for digitaly coloring drawings that I do in indian ink and then scan. Ive been using it regularly now for about 2 years.  
    </div>
    <div>
        <b>Inkscape</b> is what I use for producing <b>svg</b> graphics and particularly for creating web icons and graphics that are liable to have their size change. I also use it in combination with Gimp to convert raster graphics into <b>svg</b>'s which can then be used in web applications.
    </div>

    <br>
    <h2>Windows Apps</h2>
    <div>
        I have good understanding all the main applications like Photoshop which I used for about 10 years prior to 2020 as well as the MS-Office and adobe products like Dreamweaver, Premier, and Illustrator.
    </div>
 

</div> 



<div id='wd-admin' class='tabcontent'>
    <h2>Linux</h2>
    <h3>System Admin and Maintenance</h3>
    <div>
        I have been using <b>Linux</b> 100% of the timesince 2020, and I know how to install, configure and maintain a Linux system from scratch.  In developing web apps I understand how to install all necessary packages and libraries, and how to set up virtual environments, for them to run in a development setting. In particular in relation to <b>Django</b> and <b>Python3</b>
    </div>
    <br>
    <h2>Website Deployment</h2>
    <h3>Admin and Maintenance</h3>
    <div>
        I have experience in deploying a site to a production environment, for example deploying a Django web application from a development site to the production host. This required me to create a subdomain on the webhost and then configure the environment and DNS. I then installed all the necessary packages using an <b>SSH</b> client <b>(Tabby)</b> to access the remote host and install all necessary packages and run commands. Once this was done I went through the process of updating all the settings  and integratingthe application to work on the live server.  
    </div>
</div> 















<div id='wd-skillset' class='tabcontent'>
    <h2>Skillset</h2>
    <div>
        The following is a visual indicator of my general confidence level in using these programming languages, applications and technologies.
  
    </div>

    <div class="webdev-job-skills">
        <div class="skills">
            <h3 class='skills-title'>Development</h3>
            <img class='basic-logo svg-orange' src="{% static 'scifi_cv/img/github-white.svg' %}" alt = "logo">
            <img class='basic-logo svg-orange' src="{% static 'scifi_cv/img/django-white.svg' %}" alt = "logo">
            <img class='basic-logo svg-orange' src="{% static 'scifi_cv/img/python-white.svg' %}" alt = "logo">
            <img class='basic-logo svg-orange' src="{% static 'scifi_cv/img/HTML-white.svg' %}" alt = "logo">
            <img class='basic-logo svg-orange' src="{% static 'scifi_cv/img/SCSS-white.svg' %}" alt = "logo">
            <img class='basic-logo svg-orange' src="{% static 'scifi_cv/img/JS-white.svg' %}" alt = "logo">
            <img class='basic-logo svg-orange' src="{% static 'scifi_cv/img/MySQL-white.svg' %}" alt = "logo">
        </div>
    </div>


    <div class="devskills">
        <div class="devskill">
            <div class="devskill-name">
                <img class='skill-logo django-logo svg-orange  ' src="{% static 'scifi_cv/img/django-white.svg' %}" alt = "logo">
                <span class='text'>
                    Django
                </span>
            </div>
            <div class="devskill-bar">
                <div class="devskill-per" per="80%" style="max-width:80%"></div>
            </div>
        </div>

        <div class="devskill">
            <div class="devskill-name">
                <img class='skill-logo python-logo svg-orange  ' src="{% static 'scifi_cv/img/python-white.svg' %}" alt = "logo">
                <span class='text'>
                    Python
                </span>
            </div>
            <div class="devskill-bar">
                <div class="devskill-per" per="85%" style="max-width:85%"></div>
            </div>
        </div>


    
        <div class="devskill">
            <div class="devskill-name">
                <img class='skill-logo svg-orange  ' src="{% static 'scifi_cv/img/JS-white.svg' %}" alt = "logo">
                <span class='text'>
                    Javascript
                </span>
            </div>
            <div class="devskill-bar">
                <div class="devskill-per" per="90%" style="max-width:90%"></div>
            </div>
        </div>
    
        <div class="devskill">
            <div class="devskill-name">
                <img class='skill-logo svg-orange  ' src="{% static 'scifi_cv/img/css-white.svg' %}" alt = "logo">
                <span class='text'>
                    CSS
                </span>
            </div>
            <div class="devskill-bar">
                <div class="devskill-per" per="89%" style="max-width:89%"></div>
            </div>
        </div>
        <div class="devskill">
            <div class="devskill-name">
                <img class='skill-logo svg-orange  ' src="{% static 'scifi_cv/img/SCSS-white.svg' %}" alt = "logo">
                <span class='text'>
                    SASS
                </span>
            </div>
            <div class="devskill-bar">
                <div class="devskill-per" per="78%" style="max-width:78%"></div>
            </div>
        </div>

        <div class="devskill">
            <div class="devskill-name">
                <img class='skill-logo svg-orange ' src="{% static 'scifi_cv/img/HTML-white.svg' %}" alt = "logo">
                <span class='text'>
                    HTML
                </span>
            </div>
            <div class="devskill-bar">
                <div class="devskill-per" per="95%" style="max-width:95%"></div>
            </div>
        </div>

        <div class="devskill">
            <div class="devskill-name">
                <img class='skill-logo  svg-orange  ' src="{% static 'scifi_cv/img/MySQL-white.svg' %}" alt = "logo">
                <span class='text'>
                    MySQL
                </span>
            </div>
            <div class="devskill-bar">
                <div class="devskill-per" per="85%" style="max-width:85%"></div>
            </div>
        </div>
    </div>











</div>

