$white-001: #fff;
$grey-001: #cccccc;
$grey-002: #979797;
$grey-003: #616161;
$grey-004: #292929;
$black-001: #000;

$lt-001:  #fdbdff;
$lt-002:  #de02e6;
$lt-003:  #8c0091;

$dk-001: #cf5300;
$dk-002: #aa1a00;

$orange-001: #fff3d8;
$orange-002:  #ff8800;

$green-001: #93c900; 
$green-002: #329e00; 

$yellow-001: #ffdd1d;
$yellow-002: #302500;

$semi-opaque-001: rgba(0,0,0,0.10);
$semi-opaque-002: rgba(0,0,0,0.20);
$semi-opaque-003: rgba(0,0,0,0.30);

$nav-offset: 7rem;

