$white-001: #fff;
$grey-001: #cccccc;
$grey-002: #979797;
$grey-003: #616161;
$grey-004: #292929;
$black-001: #000;

$lt-blue-001: #f0f8ff;
$lt-blue-002: #88c5fa;
$lt-blue-003: #0e8dfc;

$dk-blue-001: #0034a5;
$dk-blue-002: #01367b;

$orange-001: #fff3d8;
$orange-002:  #ff8800;


$semi-opaque-001: rgba(0,0,0,0.10);
$semi-opaque-002: rgba(0,0,0,0.20);
$semi-opaque-003: rgba(0,0,0,0.30);

$nav-offset: 7rem;

